.image-container{
    background-color: #ccc;

}
.login-box {
    width: 500px;
    padding: 40px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    text-align: center; 
    background-color: #ffffff;/* Center the content within the login box */
}

.login-box h2 {
    margin-bottom: 30px;
    color: #333;
}

.login-box label {
    display: block;
    margin-bottom: 5px;
    color: #333;
}

.login-box input[type="email"],
.login-box input[type="password"] {
    width: 100%;
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 3px;
    box-sizing: border-box;
    outline: none;
    height: 40px;
    background-color: #fff; /* White background for inputs */
}

.login-box .password-field {
    position: relative;
}

.login-box .password-field input[type="password"] {
    padding-right: 40px;
}

.login-box .password-field .show-hide-password {
    position: absolute;
    top: 50%;
    right: 15px;
    transform: translateY(-50%);
    cursor: pointer;
}

.login-box button {
    background-color: #000; /* Black button */
    color: #fff;
    border: none;
    padding: 12px 20px;
    border-radius: 3px;
    cursor: pointer;
    display: block; /* Make button block-level for centering */
    margin: 20px auto; /* Center the button horizontally */
}

.login-box a {
    color: #333; /* Dark gray link color */
    text-decoration: none;
}

/* "No Account" Message */
.login-box p {
    margin-top: 20px;
    text-align: center; /* Center the "No Account" message */
}